@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

body {
  font-family: "Inter";
  margin: 0;
  padding-top: 50px;
}

.btn-primary {
  background-color: #22c55e !important;
  border-color: #22c55e !important;
}

.btn-primary:hover {
  background-color: #16a34a !important;
  border-color: #16a34a !important;
}

.btn-secondary {
  background-color: #facc15 !important;
  border-color: #facc15 !important;
  color: #000 !important;
}

.btn-secondary:hover {
  background-color: #eab308 !important;
  border-color: #eab308 !important;
}

.btn-outline-secondary {
  color: #facc15 !important;
  border-color: #facc15 !important;
  background-color: transparent !important;
}

.btn-outline-secondary:hover {
  background-color: #facc15 !important;
  border-color: #facc15 !important;
  color: #000 !important;
}

.navbar {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Default nav-link */
.navbar .nav-link {
  font-weight: 500;
  position: relative;
  transition: color 0.3s ease;
}

/* Hover effect */
.navbar .nav-link:hover {
  color: #15803d;
}

/* Active state */
.navbar .nav-link.active {
  color: #16a34a !important;
}

/* Garis bawah kuning */
.navbar .nav-link.active::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 100%;
  height: 3px;
  background-color: #facc15; /* kuning secondary */
  border-radius: 4px;
}

.navbar .nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 0;
  height: 3px;
  background-color: #facc15;
  transition: width 0.3s ease;
}

.navbar .nav-link:hover::after,
.navbar .nav-link.active::after {
  width: 100%;
}
