body,
html {
  height: 100%;
  margin: 0;
}
.hero {
  height: 100vh;
  background: #222222;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.hero h1 {
  font-size: 4rem;
  font-weight: bold;
}
.hero p {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}
